html {
  background-image: url("cute-kuromi-desktop-screen-theme-ipu8z43st9luah5d.jpg");
}

div {
  color: rgb(68, 70, 65);
  font-family: "Trebuchet MS", "Helvetica", "sans-serif";
  font-size: large;
  border: 2px solid black;
  width: 300px;
  margin: auto;
  padding: 25px;
  border-radius: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
